form#editalert {}

form#editalert input, form#editalert select {
	width:220px;
}

form#editalert .input-group-addon {
	width: 110px;
	text-align:left;
}

/*
#updateEmail:after {
	content: "EMail me alerts to...";
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: bold;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}
*/
